@import url ('http://fonts.cdnfonts.com/css/ezarion')
@import utl ('http://fonts.cdnfonts.com/css/manrope')

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: #000000;
}

.header {
  background: rgba(50, 50, 50, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  justify-content: center;
}

#links {
  display: flex;
  justify-content: space-around;
}

.link{
  display: inline-flex;
  flex-wrap: wrap;
  font-family: 'ezarion', sans-serif;
  color: #DEDEDE;
  font-weight: 400;
  font-size: 15px;
  margin-left: 60px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


.img{
display: flex;

}
.profi {
  max-width:20%;
  max-height:20%;

}

.description {
display: flex;
flex-direction: column;
gap: 32px;
}

.title-description {
font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 64px;
color: #DEDEDE;
letter-spacing: -0.5px;
margin-left: 60px;
margin-right: 70px;
}

.text-description {
margin-left: 80px;
margin-right: 100px;
font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.5px;
color: #959595;
}

.button {
background-color: #DEDEDE;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-family: ezarion;
  font-weight: 400;
  font-size: 20px;
  color: #2F2325;
  box-shadow: 0 4px 1px #999;
  margin-left: 355px;
}
.button:hover {background-color: #959595}

.button:active {
  background-color: #959595;
  transform: translateY(4px);
}
